[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-allauth = "*"
openpyxl = "*"
matplotlib = "*"
networkx = "*"
scipy = "*"
django-environ = "*"
pynvim = "*"

[dev-packages]

[requires]
python_version = "3.8"
