<!-- Charts/display_dcharts.html -->
{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <form class="d-flex">
    <select name="select_box" class="form-select" id="select_box">
      {% for d in data %}
      <option value="{{d}}">{{d}}</option>
      {% endfor %}
    </select>
    <button class="btn btn-outline-success" id="myBtn" onClick="lick({{data}});" type="button">Search</button>
  </form>
  </div>
</div>  
<div class="container-fluid">
<canvas id="canv" style="width:100%"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="{% static 'Charts/dcharts.js' %}"></script>

{% endblock content %}
