{% extends '_base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated%}
<p class="text-end">Logged in as {{ user.username }}</p>
{% else %}
 <p class="text-end">You are not logged in</p>
{%endif%}
<div class="container">
<h1 class="text-center">AuditTriple Update Form</h1>
<br>
<h5>Change the relation or entities of this triple for new ones.</h5>
<br>
<form method="post"> 
    {% csrf_token %} 
    {{ form | crispy }} 
    <br/>
    <input class="btn btn-success" type="submit" value="Save"> 
    <!--<a href="{% url 'Audit:audit_type_create' %}" class="btn btn-success" style="color:white;text-decoration:none;">create new type</a>-->
</form> 
</div>
{% endblock content %}
