<!--AuditTripleList-->
{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load audit_extras %}
{% block content %}
{% if user.is_authenticated%}
  <p class="text-end">Logged in as {{ user.username }}</p>
{% else %}
 <p class="text-end">You are not logged in</p>
{%endif%}
  <div class="container">
  <h1 class="text-center">Audit Triples</h1>
  <br/>
  <h5><a href={% url 'Audit:audit_triple_list' %}>Change to Table View</a></h5>
  <h6>Filter by a relation, entityA, entityB or any combination of the three.</h6>
  {% crispy form %} 
  <h6 class="text-end">Amount filtered: {{triple_filter.qs|length}}</h6>
  {% for object in page_obj %}
  {% if object.verified %}
  <h6>#{{ forloop.counter }}<h6>
  <div class="card border-success" style="width: 100%;">
    <h5 class="card-header">Dataset:  {{object.dataset}}</h5>
    <div class="card-body">
      <h4 class="card-text">EntityA:  {{object.entityA}}</h4>
      <h4 class="card-text">Relation:  {{object.relation}}</h4>
      <h4 class="card-text">EntityB:  {{object.entityB}}</h4>
      <h5 class="card-footer">Verified:  {{ object.verified }}</h5>
      <a class="btn btn-success" href="{% url 'Audit:audit_triple_update' object.id %}" class="card-link">Comment</a>
  </div>
  {% else %}
  <div class="card border-danger" style="width: 100%;">
  <h5 class="card-header">Dataset:  {{object.dataset}}</h5>
  <div class="card-body">
    <h4 class="card-text">EntityA:  {{object.entityA}}</h4>
    <h4 class="card-text">Relation:  {{object.relation}}</h4>
    <h4 class="card-text">EntityB:  {{object.entityB}}</h4>
    <h5 class="card-footer">Verified:  {{ object.verified }}</h5>
    <h5 class="card-text"><b>Your Comment:</b>  {{object.comment}}</h5>
    <a class="btn btn-success" href="{% url 'Audit:audit_triple_update' object.id %}" class="card-link">Comment</a>
  </div>
  {% endif %}
</div>
<br/>
      {% endfor %}
  <div class="pagination">
    <span class="step-links">
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-primary btn-sm" href={% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
      <a class="btn btn-outline-primary btn-sm" href="{% my_url 1 'page' request.POST.urlencode %}">First</a>
    {% endif %}
      <span class="current">
        Page {{ page_obj.number}} of {{ page_obj.paginator.num_pages }}.
      </span>
     {% if page_obj.has_next %}
       <a class="btn btn-outline-primary btn-sm" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a>
       <a class="btn btn-outline-primary btn-sm" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
     {% endif %}
     </span>
  </div>
  <br/>
  </div>
{% endblock content %}
