<!-- Audit/templates/audit_differences.html -->
{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load audit_extras %}
{% block content %}
{% if user.is_authenticated%}
<p class="text-end">Logged in as {{ user.username }}</p>
{% else %}
 <p class="text-end">You are not logged in</p>
{%endif%}
<div class="container">
  <h1>Group Comparisons</h1>
  <br/>
  <br/>
  <p>This page compares your unverified triples with your group partner's matching triples.</p>
  <br/>
  <br/>
  <div class="row">
    <div class="col-6">
      {% if not object_list %}
        <p>You have have not unverified any triples.</p>
      {% endif %}
      {% for object in object_list %}
        <p>#{{forloop.counter}}  Dataset: {{ object.dataset }}<p> 
        <div class="card border-danger" style="width: 100%;">
          <h5 class="card-header">User:  {{object.user}}</h5>
          <div class="card-body">
            <h5 class="card-text">EntityA:  {{object.entityA}}</h5>
            <h5 class="card-text">Relation:  {{object.relation}}</h5>
            <h5 class="card-text">EntityB:  {{object.entityB}}</h5>
            <h5 class="card-text">Verified:  {{object.verified}}</h5>
            <p class="card-footer"><b>Comment:</b>  {{object.comment}}</p>
          </div>
        </div>
<br/>
      {% endfor %}
    </div>
<div class="col-6">
{% for object in other_list %}
  <p>#{{forloop.counter}}  Dataset: {{ object.dataset }}<p> 
  {% if object.verified %}
  <div class="card border-success" style="width: 100%;">
    <h5 class="card-header">User:  {{object.user}}</h5>
  <div class="card-body">
    <h5 class="card-text">EntityA:  {{object.entityA}}</h5>
    <h5 class="card-text">Relation:  {{object.relation}}</h5>
    <h5 class="card-text">EntityB:  {{object.entityB}}</h5>
    <h5 class="card-text">Verified:  {{object.verified}}</h5>
    <p class="card-footer"><b>Comment:</b>  {{object.comment}}</p>
  </div>
</div>
  {% else %}
  <div class="card border-danger" style="width: 100%;">
    <h5 class="card-header">User:  {{object.user}}</h5>
  <div class="card-body">
    <h5 class="card-text">EntityA:  {{object.entityA}}</h5>
    <h5 class="card-text">Relation:  {{object.relation}}</h5>
    <h5 class="card-text">EntityB:  {{object.entityB}}</h5>
    <h5 class="card-text">Verified:  {{object.verified}}</h5>
    <p class="card-footer"><b>Comment:</b>  {{object.comment}}</p>
  </div>
</div>
<br/>
  {% endif %}
{% endfor %}
 </div>
</div>
</div>
<br/>
{% endblock content%}
