<!--AuditTripleList-->
{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load audit_extras %}
{% block content %}
{% if user.is_authenticated%}
  <p class="text-end">Logged in as {{ user.username }}</p>
{% else %}
 <p class="text-end">You are not logged in</p>
{%endif%}
  <h1 class="text-center">Audit Triples</h1>
  <br/>
  <h6>Filter by a relation, entityA, entityB or any combination of the three.</h6>
  {% crispy form %} 
  <h6 class="text-end">Amount filtered: {{triple_filter.qs|length}}</h6>
  <table class="table table-striped table-hover" style="table-layout: fixed; word-wrap: break-word;">
    <thead>
      <tr>
        <th scope="col" colspan="1">#</th>
        <th scope="col" colspan="1">Dataset:</th>
        <th scope="col" colspan="3">EntityA:</th>
        <th scope="col" colspan="3">Relation:</th>
        <th scope="col" colspan="3">EntityB:</th>
        <th scope="col" colspan="2">Verified:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for object in page_obj %}
        <td colspan="1">{{ forloop.counter }}</td>
	<td colspan="1">{{ object.dataset }}</td>
        <td colspan="3">{{ object.entityA }}</td>
        <td colspan="3">{{ object.relation }}</td>
        <td colspan="3">{{ object.entityB }}</td>
        <td colspan="2">{{ object.verified }}</td>
	<td colspan="1"><a href="{% url 'Audit:audit_triple_update' object.id %}?next={{request.get_full_path|urlencode}}" class="btn btn-success" role="button">Update</td>
      </tr>
      {% endfor %}
        </form>
        </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-primary btn-sm" href={% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
      <a class="btn btn-outline-primary btn-sm" href="{% my_url 1 'page' request.POST.urlencode %}">First</a>
    {% endif %}
      <span class="current">
        Page {{ page_obj.number}} of {{ page_obj.paginator.num_pages }}.
      </span>
     {% if page_obj.has_next %}
       <a class="btn btn-outline-primary btn-sm" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a>
       <a class="btn btn-outline-primary btn-sm" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
     {% endif %}
     </span>
  </div>
  <br/>
{% endblock content %}
