
<!-- templates/upload_data.html -->
{% extends '_base.html' %}
{% block title %}Upload New Dataset{% endblock title %}
{% block content %} 
{% if user.is_authenticated%}<p class="text-end">Logged in as {{ user.username }}</p>{%endif%}
<br>
<div class="container">
  <form action="{% url 'UploadData:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <h6>Put entities in columnA and ColumnC. Relations in ColumnB</h6>
      <h6>Add types to entities by using "|" as a delimeter.</h6>
      <h6>For example columnA = entA|typeA1|typeA2 columnB = relation1 columnC = entB|typeB</h6>
      <br>
      <label for="formFile" class="form-label">Input a excel file with the correct format</label>
      <input class="form-control" type="file" id="formFile"
        title="Upload excel file"
        name="excel_file"
        style="border: 1px solid black; padding: 5px;"
        required="required">
    </div>
    <input class="btn btn-success" type="submit" value="Upload" style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
  </form>

  <hr>
  <h6>Excel Data:</h6>
  {% for row in excel_data %}
    {% for cell in row %}
      {{ cell }}&nbsp;&nbsp;
    {% endfor %}
    <br>
  {% endfor %}
</div>
{% endblock content %}
