<ul class="nav nav-pills">
  <!-- <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'UploadData:upload' %}">UploadData</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'DisplayGraph:display'%}" style="color:black;text-decoration:none;">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Entitys:display'%}" style="color:black;text-decoration:none;">Entities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Relations:display'%}" style="color:black;text-decoration:none;">Relations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Types:display'%}" style="color:black;text-decoration:none;">Types</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Charts:degree'%}" style="color:black;text-decoration:none;">Charts</a>
  </li>
</ul>

