<ul class="nav nav-pills">
  <!-- <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'UploadData:upload' %}">UploadData</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'DisplayGraph:display'%}">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Entitys:display'%}">Entities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Relations:display'%}">Relations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Types:display'%}">Types</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Charts:degree'%}">Charts</a>
  </li>
</ul>

