<!-- templates/pages/home.html -->
{% extends '_base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{% include 'verified_graph_menu.html' %}
<br>
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This webapp is designed to help verify triple data.</p>
    <p class="lead">Users can explore verified data or the data to be audited by toggling between Datasets.</p>
    <p class="lead">To Audit data sign in.</p>
</div>
</div>
{% endblock content %}
