{% extends '_base.html' %}
{% load static %}
{% block content %}
{% include 'audit_menu.html' %}
<h3>Edit Semantic Types</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Semantic Types:</th>
    </tr>
      </thead>
  <tbody>
    <tr>
    {% for object in object_list %}
    <td>{{ object.name }}</td>
    <td><a href="{% url 'Audit:type_update_list' object.pk %}" class="btn btn-success" role="button">Rename</td>
    <td><a href="{% url 'Audit:type_delete' object.pk %}" class="btn btn-danger" role="button">Delete</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
