{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'audit_menu.html' %}
  <h3 class="text-center">Edit Triples</h3>
  <h6>Click on a relation or entity to change its name in all corresponding triples.
  Create new relations or entities to change names without affecting other triples 
  Update the triple to swap out the entities and relations for different ones.</h6>
  <br/>
  <h6>Filter by a relation, entityA, entityB or any combination of the three.</h6>
  <form method="GET">
  {% csrf_token %}
  {{ filter.form | crispy }}
  <br/>
    <input style="inline-block" type="submit" class="btn btn-primary" value="Search"> 
    <a href="{% url 'Audit:triple_create' %}" class="btn btn-primary" style="color:white;text-decoration:none;" role="button">Create Triple</a>
    <h5 class="text-end">Simularity:{{simularity}}</h5>
  </form>
  <table class="table table-striped table-hover" style="table-layout: fixed; word-wrap: break-word;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">EntityA</th>
        <th scope="col">Relation</th>
        <th scope="col">EntityB</th>
        <th scope="col">Verified</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for object in filter.qs %}
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'Audit:entity_update_list' object.entityA.pk %}">{{ object.entityA }}</a></td>
        <td><a href="{% url 'Audit:relation_update_list' object.relation.pk %}">{{ object.relation }}</a></td>
        <td><a href="{% url 'Audit:entity_update_list' object.entityB.pk %}">{{ object.entityB }}</a></td>
        <td>{{ object.verified }}</td>

        <td><a href="{% url 'Audit:triple_update_list' object.pk %}" class="btn btn-success" role="button">Update</td>

        <!-- A Hidden form to allow faster verification -->
	<form method="POST" action="/Audit/Triple/{{object.id}}/update/">
          {% csrf_token %}
          <input type="hidden" name="verified" value="true" />
          <input type="hidden" name="entityA" value="{{object.entityA.pk}}" />
          <input type="hidden" name="relation" value="{{object.relation.pk}}" />
          <input type="hidden" name="entityB" value="{{object.entityB.pk}}" />
          <td><button type="submit" class="btn btn-warning">Verify</button></td>
        </form>

       <!-- A Hidden form to allow faster unverification -->
        <form method="POST" action="/Audit/Triple/{{object.id}}/update/">
          {% csrf_token %}
          <input type="hidden" name="verified" value="false" />
          <input type="hidden" name="entityA" value="{{object.entityA.pk}}" />
          <input type="hidden" name="relation" value="{{object.relation.pk}}" />
          <input type="hidden" name="entityB" value="{{object.entityB.pk}}" />
          <td><button type="submit" class="btn btn-warning">UnVerify</button></td>
       </form>

        <td><a href="{% url 'Audit:triple_delete' object.pk %}" class="btn btn-danger" role="button">Delete</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
