
<!-- Relations/display_unverified_relations.html -->
{% extends '_base.html' %}
{% load static %}
{% block title %}Relation's{% endblock title %}
{% block content %}
{% include 'unverified_graph_menu.html' %}
 <form class="d-flex">
  <input class="form-control me-2" type="text" id="myInput" placeholder="Enter a relation" aria-label="Search">
  <button class="btn btn-outline-success" onClick="getRelationValue({{relations}});" id="myBtn" type="button">Search</button>
  </form>

  <div class="row">
    <div class="container col-md-3">
    <form >
      <label for="relations">Relations:</label>
      <ul class="list-group">
        {% for rel in relations%}
        <li class="list-group-item list-group-item-secondary list-group-item-action text-break"><a href={% url 'Relations:display_unverified' rel %}>{{rel}}</a></li>
        {% endfor %}
      </ul>
  </form>
  </div>

  <div class="container col-md-9">
    <h1 class="text-center">Your Relations</h1>
<br>
<br>
    <div class="row">
    <div class="col-6">
      <h3>Relation: {{ relation }}</h3>
  </div>
    <div class="col-6">
      <h3>Edges: {{ count }}</h3>
  </div>
<hr>

  {% if relation_edges %}
  <div class=row>
    <div class="container col-md-12">
    <h3>Relation Graph:</h3>
      <div class="container offset-lg-2">
        {{ relation_edges | safe }}
      </div>
    </div>
  </div>
  {% endif %}
  
 <hr>

    <div class=row> 
    <div class="col-md-12">
     <table class="table table-striped table-hover">
      <thead>
        <tr>
        <th>EntityA:</th>
        <th>Relation</th>
        <th>EntityB</th>
        </tr>
      </thead>
      <tbody>
	    {% for data in relation_data %}
        <tr>
          <td><a href="{% url 'Entities:display_unverified' data.0 %}" style="text-decoration:none;">{{ data.0 }}</a></td>
	  <td>{{ data.2 }}</td>
	  <td><a href="{% url 'Entities:display_unverified' data.1 %}" style="text-decoration:none;">{{ data.1 }}</a></td>
        </tr>
	    {% endfor %}
      </tbody>
    </table>
    </div>
  </div>  

<hr>

      </div>
    </div>
  </div>

<script src="{% static 'UploadData/search_unverified.js' %}"></script>

{% endblock content %}
